<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add New Task</title>
</head>
<body>
	<form action="/tasks" method="POST">
		<label for="name">Завдання</label>
		<input type="text" name="name" placeholder="Task name">

		<label for="priority">Пріоритет виконання</label>
		<input type="text" name="priority" placeholder="Task priority">

		<label for="description">Опис завдання</label>
		<input type="text" name="description" placeholder="Task description">

		<label for="user">Виконавець</label>
		<input type="text" name="user" placeholder="Task performer">

		<button type="submit" class="button">Create Task</button>
	</form>
</body>
</html>