<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Task Detail</title>
</head>
<body>
	<h1>Задача: <%=task.name%></h1>
	<div>
		<div>Пріоритет: <%=task.priority%></div>
		<div>Опис: <%=task.description%></div>
		<div>Виконавець: <%=task.user%></div>
	</div>
	<a href="/tasks">To!Do list</a>
</body>
</html>