<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>TODO! List</title>
</head>

<body>
	<%tasks.forEach(task=> {%> <div>
			<a href="/tasks/<%=task.id%>">
				<%=task.name%>
			</a>
			<span>
				<%=task.priority%>
			</span>
			<button>Edit</button>
			<button>Delete</button>
		</div>
		<%})%>
		<hr>
		<a href="/tasks/create">Add Task</a>
</body>

</html>